/nvim/.config/nvim/plugin
/nvim/.config/nvim/spell

zsh/.config/zsh/.zsh_history
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/completion/_fnm
vim/.vim/plugged
vim/.vim/view
vim/.vim/.netrwhist
zsh/.config/zsh/plugins

**/tmux/plugins
